Repository llamafolio/llamafolio-api, pull requests merged in 2023-07, with the labels that each got.

#707 Fix: LBR asset
  src/adapters/lybra-finance/ethereum/vest.ts
Labels: bug, adapter

#708 Fix: Adapter, Ether.fi
  src/adapters/ether.fi/ethereum/index.ts
  src/adapters/ether.fi/ethereum/stake.ts
Labels: bug, adapter

#709 Feat: Adapter, Ipor
  .vscode/launch.json
  src/adapters/index.ts
  src/adapters/ipor/ethereum/farm.ts
  src/adapters/ipor/ethereum/index.ts
  src/adapters/ipor/ethereum/lp.ts
  src/adapters/ipor/ethereum/stake.ts
  src/adapters/ipor/index.ts
Labels: adapter

#711 Feat: Adapter 1Inch-Network (rewards)
  src/adapters/1inch-network/common/locker.ts
  src/adapters/1inch-network/common/reward.ts
  src/adapters/1inch-network/ethereum/index.ts
Labels: adapter

#712 Fix: Balance filter + Aura extra rewards
  src/adapters/aura/ethereum/balance.ts
  src/adapters/aura/ethereum/pool.ts
  src/adapters/balancer/common/balance.ts
  src/lib/price.ts
Labels: bug, adapter

#715 Feat: Adapter Add Aura on Arbitrum
  src/adapters/aura/arbitrum/index.ts
  src/adapters/aura/common/balance.ts
  src/adapters/aura/common/pool.ts
  src/adapters/aura/ethereum/index.ts
  src/adapters/aura/index.ts
Labels: adapter

#716 Fix: Adapter Uniswap-v3
  src/adapters/uniswap-v3/common/pools.ts
Labels: bug, adapter

#717 Feat : Adapter Silo-Finance
  .vscode/launch.json
  src/adapters/index.ts
  src/adapters/silo-finance/arbitrum/index.ts
  src/adapters/silo-finance/common/balance.ts
  src/adapters/silo-finance/common/pool.ts
  src/adapters/silo-finance/ethereum/index.ts
  src/adapters/silo-finance/index.ts
Labels: adapter

#706 feat: http transport configs
  src/lib/chains.ts
  src/lib/providers/index.ts
  src/lib/providers/viem.ts
Labels: bug

#723 feat: Adapter Pearl-Finance
  .vscode/launch.json
  src/adapters/index.ts
  src/adapters/pearlfi/index.ts
  src/adapters/pearlfi/polygon/farm.ts
  src/adapters/pearlfi/polygon/index.ts
Labels: adapter

#731 feat: R2 bucket refresh workflow & script
  .github/workflows/ci.yml
  .github/workflows/refresh-r2.yml
  environment.ts
  scripts/r2/upload.sh
Labels: feature

#734 fix: temp dir location in ci
  .github/workflows/refresh-r2.yml
Labels: bug

#732 feat: Adapter Exactly
  .vscode/launch.json
  src/adapters/exactly/common/balance.ts
  src/adapters/exactly/common/market.ts
  src/adapters/exactly/ethereum/index.ts
  src/adapters/exactly/index.ts
  src/adapters/exactly/optimism/index.ts
  src/adapters/index.ts
Labels: adapter

#730 feat: Adapter Woofi
  .vscode/launch.json
  src/adapters/index.ts
  src/adapters/woofi/arbitrum/index.ts
  src/adapters/woofi/avalanche/index.ts
  src/adapters/woofi/bsc/index.ts
  src/adapters/woofi/common/contract.ts
  src/adapters/woofi/common/farm.ts
  src/adapters/woofi/common/stake.ts
  src/adapters/woofi/ethereum/index.ts
  src/adapters/woofi/fantom/index.ts
  src/adapters/woofi/index.ts
  src/adapters/woofi/optimism/index.ts
  src/adapters/woofi/polygon/index.ts
Labels: adapter

#725 feat: Adapter Extra-Finance
  .vscode/launch.json
  src/adapters/extra-finance/index.ts
  src/adapters/extra-finance/optimism/balance.ts
  src/adapters/extra-finance/optimism/index.ts
  src/adapters/extra-finance/optimism/pool.ts
  src/adapters/extra-finance/optimism/vault.ts
  src/adapters/index.ts
Labels: adapter

#727 NFT integration
  .eslintrc.cjs
  environment.ts
  package.json
  pnpm-lock.yaml
  serverless.yml
  src/handlers/getNFTs.ts
  src/lib/error.ts
  src/lib/fetcher.ts
  src/lib/fmt.ts
  src/lib/nft/alchemy.ts
  src/lib/nft/ankr.ts
  src/lib/nft/blacklist.ts
  src/lib/nft/center.ts
  src/lib/nft/defillama.ts
  src/lib/nft/index.ts
  src/lib/nft/infura.ts
  src/lib/nft/nft-port.ts
  src/lib/nft/nft-scan.ts
  src/lib/nft/opensea.ts
  src/lib/nft/reservoir.ts
  src/lib/nft/sequence.ts
  src/lib/nft/types.ts
  test/routes.sh
  tsconfig.json
Labels: feature

#726 feat: Adapter Tetu
  .vscode/launch.json
  src/adapters/index.ts
  src/adapters/tetu/bsc/index.ts
  src/adapters/tetu/common/farm.ts
  src/adapters/tetu/common/lp.ts
  src/adapters/tetu/common/pool.ts
  src/adapters/tetu/common/vault.ts
  src/adapters/tetu/ethereum/index.ts
  src/adapters/tetu/fantom/index.ts
  src/adapters/tetu/index.ts
  src/adapters/tetu/polygon/index.ts
Labels: adapter

#738 feat: Adapter, EigenLayer
  .vscode/launch.json
  src/adapters/eigenlayer/ethereum/balance.ts
  src/adapters/eigenlayer/ethereum/index.ts
  src/adapters/eigenlayer/index.ts
  src/adapters/index.ts
Labels: adapter

#741 feat: Adapter Convex-Finance
  src/adapters/convex-finance/ethereum/index.ts
  src/adapters/convex-finance/ethereum/stake.ts
Labels: adapter

#743 fix: Adapter Convex-Finance
  src/adapters/convex-finance/ethereum/index.ts
  src/adapters/convex-finance/ethereum/stake.ts
Labels: bug, adapter

#744 fix: Adapter Gravita-Protocol
  src/adapters/gravita-protocol/ethereum/index.ts
  src/adapters/gravita-protocol/ethereum/stake.ts
Labels: bug, adapter

#745 feat: Adater, Florence-Finance
  .vscode/launch.json
  src/adapters/florence-finance/ethereum/balance.ts
  src/adapters/florence-finance/ethereum/index.ts
  src/adapters/florence-finance/index.ts
  src/adapters/index.ts
Labels: adapter

#746 feat: Adappter, CVault-Finance
  .vscode/launch.json
  src/adapters/cvault-finance/ethereum/contract.ts
  src/adapters/cvault-finance/ethereum/farm.ts
  src/adapters/cvault-finance/ethereum/index.ts
  src/adapters/cvault-finance/ethereum/lend.ts
  src/adapters/cvault-finance/index.ts
  src/adapters/index.ts
Labels: adapter

#747 feat: Adapter, Reserve
  .vscode/launch.json
  src/adapters/index.ts
  src/adapters/reserve/ethereum/balance.ts
  src/adapters/reserve/ethereum/index.ts
  src/adapters/reserve/index.ts
Labels: adapter

#748 feat: Adapter, Radiant-v2 on BSC
  src/adapters/radiant-v2/bsc/index.ts
  src/adapters/radiant-v2/bsc/multifee.ts
  src/adapters/radiant-v2/index.ts
Labels: adapter

#749 fix: Adapter, Morphex
  src/adapters/morphex/fantom/balance.ts
Labels: bug, adapter

#750 feat: Adapter, Linear-Finance
  .vscode/launch.json
  src/adapters/index.ts
  src/adapters/linear-finance/bsc/balance.ts
  src/adapters/linear-finance/bsc/index.ts
  src/adapters/linear-finance/index.ts
Labels: adapter

#753 feat: Adapter, Sphere-finance
  .vscode/launch.json
  src/adapters/index.ts
  src/adapters/sphere-finance/index.ts
  src/adapters/sphere-finance/polygon/index.ts
Labels: adapter
