Repository llamafolio/llamafolio-api, pull requests merged in 2023-08, with the labels that each got.

#720 feat: match defillama yield
  .env.example
  environment.ts
  src/db/balances.ts
  src/db/yields.ts
  src/handlers/getBalances.ts
  src/handlers/getLatestBalances.ts
  src/lib/chains.ts
  src/lib/token.ts
  src/lib/type.ts
  src/lib/yields/index.ts
  src/lib/yields/types.ts
Labels: feature

#754 nft token trade history
  .vscode/settings.json
  serverless.yml
  src/handlers/getNFTs.ts
  src/handlers/getNFTsHistory.ts
  src/lib/fetcher.ts
  src/lib/nft/class.ts
  src/lib/nft/index.ts
  src/lib/nft/quick-node.ts
  src/lib/nft/reservoir.ts
  src/lib/nft/sequence.ts
  src/lib/type.ts
  tsconfig.json
Labels: feature

#759 feat: filter out token bals < 0.1 USD
  src/handlers/getBalancesTokens.ts
Labels: enhancement

#762 feat: Adapter, Reflexer
  .vscode/launch.json
  src/adapters/index.ts
  src/adapters/reflexer/ethereum/farm.ts
  src/adapters/reflexer/ethereum/index.ts
  src/adapters/reflexer/ethereum/stake.ts
  src/adapters/reflexer/index.ts
Labels: adapter

#764 feat: Adapter, Ethos-reserve
  .vscode/launch.json
  src/adapters/ethos-reserve/index.ts
  src/adapters/ethos-reserve/optimism/balance.ts
  src/adapters/ethos-reserve/optimism/index.ts
  src/adapters/index.ts
Labels: adapter

#765 feat: Adapter, DeltaPrime
  .vscode/launch.json
  src/adapters/deltaprime/avalanche/balance.ts
  src/adapters/deltaprime/avalanche/index.ts
  src/adapters/deltaprime/avalanche/pool.ts
  src/adapters/deltaprime/index.ts
  src/adapters/index.ts
Labels: adapter

#766 feat: Adapter, Colony
  .vscode/launch.json
  src/adapters/colony/avalanche/balance.ts
  src/adapters/colony/avalanche/index.ts
  src/adapters/colony/index.ts
  src/adapters/index.ts
Labels: adapter

#767 feat: Adapter, Synclub-staked-bnb
  .vscode/launch.json
  src/adapters/index.ts
  src/adapters/synclub-staked-bnb/bsc/index.ts
  src/adapters/synclub-staked-bnb/bsc/stake.ts
  src/adapters/synclub-staked-bnb/index.ts
Labels: adapter

#770 feat: Adapter, Stakewise gnosis
  src/adapters/stakewise/ethereum/index.ts
  src/adapters/stakewise/gnosis/index.ts
  src/adapters/stakewise/index.ts
Labels: adapter

#769 Add fix on Curve alt + handling error + add chains
  src/adapters/curve-dex/common/balance.ts
  src/adapters/curve-dex/common/pool.ts
  src/adapters/curve-dex/gnosis/index.ts
  src/adapters/curve-dex/index.ts
  src/adapters/curve-dex/moonbeam/index.ts
Labels: bug, adapter

#772 feat: adapter, benqi-lending
  src/adapters/benqi-lending/avalanche/index.ts
  src/lib/compound/v2/lending.ts
Labels: bug, adapter

#773 feat: Adapter, Magnate-finance
  .vscode/launch.json
  src/adapters/index.ts
  src/adapters/magnate-finance/base/balance.ts
  src/adapters/magnate-finance/base/index.ts
  src/adapters/magnate-finance/index.ts
Labels: adapter

#763 feat: Adapter, Retro
  .vscode/launch.json
  src/adapters/index.ts
  src/adapters/retro/index.ts
  src/adapters/retro/polygon/balance.ts
  src/adapters/retro/polygon/index.ts
Labels: adapter

#774 feat: Fix Stargate (SGETH to WETH) + add Base
  src/adapters/stargate/base/index.ts
  src/adapters/stargate/common/contract.ts
  src/adapters/stargate/index.ts
Labels: bug, adapter

#775 feat: Adapter, Moonwell
  .vscode/launch.json
  src/adapters/index.ts
  src/adapters/moonwell/base/index.ts
  src/adapters/moonwell/common/market.ts
  src/adapters/moonwell/index.ts
  src/adapters/moonwell/moonbeam/index.ts
Labels: adapter

#777 feat: Adapter, Aave-v3, base
  src/adapters/aave-v3/base/index.ts
  src/adapters/aave-v3/index.ts
Labels: adapter

#778 feat: Adapter, Overnight-finance
  .vscode/launch.json
  src/adapters/index.ts
  src/adapters/overnight-finance/arbitrum/contract.ts
  src/adapters/overnight-finance/arbitrum/index.ts
  src/adapters/overnight-finance/base/contract.ts
  src/adapters/overnight-finance/base/index.ts
  src/adapters/overnight-finance/common/balance.ts
  src/adapters/overnight-finance/index.ts
  src/adapters/overnight-finance/optimism/contract.ts
  src/adapters/overnight-finance/optimism/index.ts
  src/adapters/overnight-finance/polygon/contract.ts
  src/adapters/overnight-finance/polygon/index.ts
Labels: adapter

#790 feat: Adapter, ondo-finance
  .vscode/launch.json
  src/adapters/index.ts
  src/adapters/ondo-finance/ethereum/balance.ts
  src/adapters/ondo-finance/ethereum/index.ts
  src/adapters/ondo-finance/index.ts
Labels: adapter

#793 add missing contract rETH
  src/adapters/rocket-pool/ethereum/index.ts
Labels: adapter

#794 fix: curve-dex on ethereum
  src/adapters/curve-dex/ethereum/lpBalance.ts
  src/adapters/curve-dex/ethereum/pools.ts
Labels: bug, adapter

#795 Feat: Adapter, Inverse-finance contracts
  src/adapters/inverse-finance/ethereum/index.ts
Labels: adapter

#796 feat: Adapter, silo-finance, add missing contract
  src/adapters/silo-finance/ethereum/index.ts
Labels: adapter

#797 fix: Adapter crvUSD
  src/adapters/crvusd/ethereum/contract.ts
Labels: bug, adapter

#798 feat: Adapter, Alien-Base
  .vscode/launch.json
  src/adapters/alien-base/base/balance.ts
  src/adapters/alien-base/base/index.ts
  src/adapters/alien-base/index.ts
  src/adapters/index.ts
Labels: adapter

#799 feat: Adapter, whiteheart
  .vscode/launch.json
  src/adapters/index.ts
  src/adapters/whiteheart/ethereum/balance.ts
  src/adapters/whiteheart/ethereum/index.ts
  src/adapters/whiteheart/index.ts
Labels: adapter

#800 Houdini
  .vscode/launch.json
  src/adapters/houdini-swap/ethereum/balance.ts
  src/adapters/houdini-swap/ethereum/index.ts
  src/adapters/houdini-swap/index.ts
  src/adapters/index.ts
Labels: adapter
